p {
  margin-bottom: 10px;
}

.body {
  display: block;
  background-color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.main {
  display: block;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 168px 10% 60px;
  background-color: #fff;
}

.column-left {
  padding-right: 60px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.intro {
  color: #333;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.heading {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.row {
  margin-top: 0px;
  padding-bottom: 64px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav-item {
  padding-bottom: 8px;
  text-decoration: none;
}

.columns {
  margin-top: 0px;
  padding-top: 64px;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.nav-link {
  color: #333;
  text-decoration: none;
}

.nav-link.intro {
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}

.nav-link.intro:hover {
  text-decoration: underline;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.links {
  padding-right: 0px;
  padding-left: 0px;
}

.column {
  padding-right: 60px;
  padding-left: 0px;
}

.link-2 {
  position: relative;
  left: -4px;
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 0px;
  color: #888;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.link-2:hover {
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #333;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 32px;
  padding-left: 0px;
  font-size: 30px;
  line-height: 40px;
}

.paragraph {
  margin-bottom: 0px;
  padding-left: 0px;
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

.paragraph.project-p {
  text-decoration: none;
}

.paragraph.project-p:hover {
  font-style: normal;
  text-decoration: none;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 32px;
  padding-left: 0px;
  font-size: 30px;
  line-height: 40px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.paragraph-2 {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
}

.container {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-2 {
  width: 100%;
  max-height: 240px;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover;
}

.project {
  position: relative;
  left: -8px;
  width: 100%;
  margin-bottom: 32px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}

.project:hover {
  background-color: #f8f8f8;
}

.heading-5 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #333;
  line-height: 32px;
}

.image-4 {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-5 {
  border-radius: 4px;
}

@media screen and (min-width: 1440px) {
  .body {
    font-size: 16px;
  }

  .main {
    margin-right: auto;
    margin-left: auto;
  }

  .intro {
    font-size: 22px;
    line-height: 32px;
  }

  .heading {
    color: #333;
  }

  .row {
    padding-bottom: 64px;
  }

  .nav-item {
    margin-bottom: 0px;
  }

  .columns {
    padding-top: 32px;
  }

  .column {
    padding-right: 60px;
  }
}

@media screen and (max-width: 767px) {
  .row {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .main {
    padding: 100px 16px 20px;
  }

  .column-left {
    padding-right: 0px;
    padding-bottom: 24px;
  }

  .intro {
    font-size: 16px;
  }

  .heading {
    font-size: 24px;
    line-height: 32px;
  }

  .row {
    display: block;
    padding-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-link.intro {
    font-size: 18px;
    text-decoration: underline;
  }

  .column {
    padding-right: 0px;
  }

  .link-2 {
    position: static;
    margin-bottom: 32px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: transparent;
    color: #333;
    text-decoration: underline;
  }

  .link-2:hover {
    background-color: transparent;
  }

  .heading-2 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
  }

  .paragraph.project-p {
    font-size: 16px;
  }

  .heading-3 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
  }

  .paragraph-2 {
    font-size: 16px;
  }

  .project {
    position: static;
    left: auto;
    margin-bottom: 16px;
    padding: 0px;
  }

  .project:hover {
    background-color: transparent;
  }

  .heading-5 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 24px;
  }

  .image-4 {
    margin-bottom: 16px;
  }
}

